# Godot 4+ specific ignores
/.godot/imported/
/.godot/shader_cache/
/.import/
/001_Build/
/.godot/editor/Zone.tscn-editstate-3674aabf892ef28a6013869778b98ad6.cfg/
/.godot/editor/editor_layout.cfg/
/.godot/editor/filesystem_cache8/
/.godot/editor/filesystem_update4/
/.godot/editor/project_metadata.cfg/
/.godot/editor/recent_dirs/
/.godot/editor/script_editor_cache.cfg/
/.godot/uid_cache.bin/